# .deb Packages
*.deb

# Source packages
*.dsc
*.orig.tar.gz
*.debian.tar.xz

# Downloaded / extracted upstream release artifacts
tv-*-unknown-linux-*/
tv-*-unknown-linux-*.tar.gz
/completions/
/usr/
/DEBIAN/
.television_release_name

.idea/*
.DS_Store
